<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <localRepository>/Users/jamesmartin/.m2/maven-central</localRepository>

    <mirrors>
        <mirror>
            <id>springmilestone</id>
            <mirrorOf>repository.spring.milestone</mirrorOf>
            <url>https://repo.spring.io/milestone/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>maven</id>
            <repositories>
                <repository>
                    <id>maven public</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>spring public</id>
                    <name>Spring</name>
                    <url>https://repo.spring.io/milestone</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>jboss-public-repository-group</id>
                    <name>JBoss Public Repository Group</name>
                    <url>http://repository.jboss.org/nexus/content/groups/public/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>

            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>public</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>maven</activeProfile>
    </activeProfiles>

    <pluginGroups>
        <pluginGroup>org.mortbay.jetty</pluginGroup>
        <pluginGroup>com.ebay.raptor.build</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
        <pluginGroup>org.sonatype.maven.plugins</pluginGroup>
    </pluginGroups>
</settings>
